/* Container for everithing except footer*/
#wrapper {
	position: relative;
	min-height: 100%;
	height: auto !important;
	margin-bottom: 5%;
}

/*EL's colour choice*/
body {
	background-color: #F2E6FF;
	width: 1366px;
	height: 768px;
}

.navbar {
    position: relative;
    padding: 0;
    min-height: 78.4px;
    width: 100%;
    background-color: #ccbae0;
    border-bottom-width: thin;
    border-bottom: transparent;
    box-shadow: 0px 6px 12px #969696;
}

/*Dropdown menu button*/
#dropdownMenu1 {
	position: absolute;
	margin-top: 1%;
	padding: none;
	background-color: #f5effc;
	border-color: #8c8c8c;
	box-shadow: -3px 3px 6px rgba(0,0,0,.175);
}

#dropdownMenu1:hover {
	background-color: white;
	color: black;
}

#dropdownMenu1:active {
	box-shadow: inset 3px 3px 1px #666;
}

/*Dropdown menu list [Home, My Collection, Account, Sign Out] */
.dropdown-menu {
	background-color: #f5effc;
	position: absolute;
	margin-top: 3%;
	font-family: Raleway;
}

.dropdown-menu li:hover {
	border-top: solid thin;
	border-bottom: solid thin;
	border-left: none;
	border-right: none;
	border-color: #b2b2b2;
}

.dropdown-menu a:active {
	box-shadow: inset 3px 3px 1px #666;
}

/*Contains dropdown menu, logo, search welcome */
.navbar-header {
    float: left;
    padding: 0;
    width: 100%;
}

/* The logo */
.navbar-brand {
	display: block;
	left: 50%;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: justify;
}


/*The logo's caption [MOOD RADIO]*/
.navbar-brand .caption {
	left: -40%;
	top: -53%;
	margin: 0;
	padding: 0;
	position: relative;
	font-family: Racing Sans One;
	font-style: Regular;
	font-weight: 2%;
	letter-spacing: 2%;
	color: black;
	text-shadow: 4px 4px 3px #888;
}

.navbar-brand .caption h2 {
	font-size: 30px;
}

/* Logo's image */
.navbar-brand img {
	display: block;
	height: auto;
	position: relative;
	width: 52px;
}

/* The search bar */
.navbar-header .input-group {
	margin-top: 1%;
	right: 17%;
	padding: 0;
	position: relative;
	width: 20%;
	font-family: Raleway;
	background-color: #f5effc;
	
}

/* Search bar input part */
.navbar-header .form-control {
	border-color: #b2b2b2;
	background-color: #f5effc;
	box-shadow: inset 0px 0px 4px #b2b2b2;
}

.navbar-header .form-control:hover {
	background-color: white;
	box-shadow: 0px 0px 10px #a4f5f9;
}

/* Search button*/
.navbar-header .input-group .btn-default {
	border-color: #b2b2b2;
	background-color: #f5effc;
	box-shadow: inset 0px 0px 6px #b2b2b2;
}

.navbar-header .input-group .btn-default:hover {
	background-color: white;
	color: black;
	box-shadow: inset 0px 0px 3px #b2b2b2;
}

.navbar-header .input-group .btn-default:active {
	box-shadow: inset 3px 3px 1px #666;
}

/* Welcome Team25 */
.navbar-text {
	right: 0.01%;
	padding: none;
	position: absolute;
	font-family: Raleway;
	font-style: Light;
	font-size: 23px;
	letter-spacing: 2%;
}

.navbar-text h4 {
	color: #686868;
}


/* Chosen Filters Column list */
.filters {
	position: relative;
	left: 0.8%;
	width: 12%;
	margin-top: 2%;
	height: 1023px;
	font-family: Raleway;
	border-right: solid thin;
}

.filters ul {
	list-style-type: none;
	position: relative;
	right: 8%;
	display: block;
}

.filters .moods {
	height: 422.75px;
}

.filters .genres {
	height: 516.533px;
}

/*FIlters header*/
.filters h2 {
	position: relative;
	font-size: 36px;
	margin-top: 2%;
	margin-bottom: -3%;
}

/*filters checkbox button*/
.filters input {
	vertical-align: bottom;
	position: relative;
}

/* Moods, Genres headers*/
.filters h3 {
	position: relative;
	right: 12%;
	text-align: center;
	font-size: 22px;
	font-family: Raleway Light;
	border-bottom: solid thin;
	border-top: solid thin;
}

/*#tags*/
.filters label {
	font-size: 18px;
}

/*x (remove)*/
.filters .btn-default {
	position: relative;
	background-color: #F2E6FF;
	color: #333;
	filter: opacity(30%);
	border: solid thin;
	border-color: #333;
	display: none;
	font-size: 10px;
	vertical-align: text-bottom;
}

.filters .btn-default:hover {
	color: #333;
	border-color: #333;
	filter: opacity(100%);
}

.filters .btn-default:active {
	box-shadow: inset 2px 2px 3px #666;
	background-color: #F2E6FF;
}

.filters .checkbox:hover .btn-default {
	display: inline;
}

/*more tags link*/
.filters .more-tags {
	position: relative;
	padding-top: 5%;
	text-align: right;
}

.filters .more-tags a {
	/*color: #9131f7;*/
	color: #333;
}

.filters .genres .more-tags {
	padding-top: 150%;
}

/*all filters popup*/
.allfilters {
	position: relative;
	right: 0.8%;
	margin-top: -0.2%;
	font-family: Raleway SemiBold;
	font-style: italic;
	font-size: 17px;
	z-index: 90;
}

/*button activating popup*/
.allfilters button {
	background-color: #efefef;
	box-shadow: 2px 2px 1px #ccc;
}

.allfilters button:hover {
	background-color: #ccbae0;
	box-shadow: inset 0px 0px 3px #b2b2b2
}

.allfilters button:active {
	background-color: #ccbae0;
	box-shadow: inset 3px 3px 1px #666;
}

/*the dark background behind popup*/
#overlay{
	position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 95;
    cursor: pointer;
}

/*the popup area*/
.jumbotron {
	position: relative;
	left: 5%;
	top: 2%;
	width: 90%;
	height: 920px;
	font-family: Raleway;
	border-radius: 20px;
}

/*the x close button*/
.jumbotron .close_button {
	position: absolute;
	top: 0;
	right: 0;
	margin: 1%;
}

.jumbotron .close_button button {
	box-shadow: 2px 2px 1px #ccc;
}

.jumbotron .close_button button:hover {
	background-color: white;
	color: black;
	box-shadow: inset 0px 0px 3px #b2b2b2;
}

.jumbotron .close_button button:active {
	box-shadow: inset 3px 3px 1px #666;
}

/*the search on the popup*/
.jumbotron .input-group {
	position: relative;
	top: 0%;
	width: 70%;
	left: 14.8%;
	margin-top: 0.5%;
}

.jumbotron .input-group button:hover {
	background-color: white;
	color: black;
	box-shadow: inset 0px 0px 3px #b2b2b2;
}

.jumbotron .input-group button:active {
	box-shadow: inset 3px 3px 1px #666;
}

/*thet tags underneath the search*/
.jumbotron .chosen_tags {
	list-style-type: none;
	position: relative;
	left: 12.1%;
	width: 75%;
	margin-top: 1%;
}

.jumbotron .chosen_tags > li {
	display: inline-block;
	padding: 0.5%;
	padding-right: 0.3%;
	padding-top: 0.7%;
}

.jumbotron .chosen_tags .label-default {
	font-size: 14px;
}

/*the x remove button on the tags*/
.jumbotron .chosen_tags button {
	position: relative;
	right: -3%;
	font-size: 10px;
	color: #eee;
	background-color: #777;
	border-color: #eee;
	border: transparent;
	filter: opacity(60%);
}

.jumbotron .chosen_tags button:hover {
	border: solid thin; 
	filter: opacity(100%);
}

/*Moods , Gneres headers above the popup's lists*/
.jumbotron .filters_header {
	position: relative;
	display: inline-flex;
	left: 1%;
	width: 55%;
	top: 2%;
	justify-content: space-between;
}

.jumbotron .filters_header h3 {
	margin: 0;
}

/*Moods header on popup*/
.jumbotron .moods_header {
	position: relative;
	left: 2.1%;
	width: 10%;
	float: left;
	text-decoration: underline;
}

/*Genres header on popup*/
.jumbotron .genres_header {
	position: relative;
	width: 10%;
	float: right;
	text-decoration: underline;
}

/*All moods, genres filters on teh popup*/
.jumbotron .allfilters {
	position: relative;
	display: inline-block;
	left: 1%;
	top: 3%;
	width: 98%;
	height: 610px;
	font-size: 14px;
	overflow-x: hidden;
	overflow-y: auto;
}

/*moodsfilters list*/
.jumbotron .allmoods {
	position: relative;
	display: inline-block;
	width: 45%;
	column-count: 3;
	column-gap: 20px;
	overflow-x: hidden;
	border-right: solid thin;
}

/*genres filters list*/
.jumbotron .allgenres {
	position: relative;
	display: inline-block;
	bottom: 114%;
	left: 4.5%;
	width: 50%;
	column-count: 3;
	column-gap: 20px;
	overflow-x: hidden;
}

/*apply button*/
.jumbotron .apply {
	position: relative;
	float: right;
	right: 5.5%;
	bottom: -3%;
	z-index: 96;
}

.jumbotron .apply button {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 20%;
	padding-right: 20%;
	box-shadow: 2px 2px 1px #bbb;
}

.jumbotron .apply button:hover {
	background-color: #ccbae0;
	color: black;
	box-shadow: inset 0px 0px 3px #b2b2b2;
}

.jumbotron .apply button:active {
	box-shadow: inset 3px 3px 1px #666;
}

.jumbotron .apply h3 {
	font-family: Raleway Bold;
	margin-top: 10px;
}

/*Rcommendations, Favourites, My Playlist*/
.collection {
	position: absolute;
	top: 7.2%;
	left: 14%;
	width: 95%;
	z-index: 80;
}

.recommendations, .favourites, .myplaylists {
	height: auto;
	display: inline;
	position: relative;
	text-align: left;
	padding: 0;
	background-color: #F2E6FF;
}

/*Rcommendations, Favourites, My Playlist headers*/
.recommendations h2, .favourites h2, .myplaylists h2 {
	position: relative;
	width: 17%;
	left: 1.7%;
	padding: 0;
	margin-bottom: 0.1%;
	margin-top: 4%;
	font-family: Raleway Light;
	font-size: 28px;
	text-shadow: 1px 1px 1px #888;
}

.thumbnails {
	display: inline;
	list-style-type: none;
	border: 0;
	padding: 0;
	margin: 0;
}

/*play button on all thumbnails*/
.thumbnails button {
	margin: 0 auto;
	padding: 0;
	border: transparent;
	background-color: transparent;
	filter: opacity(60%);
}

.thumbnails button:hover {
	background-color: transparent;
	filter: opacity(100%);
}

.thumbnails button:focus {
	background-color: transparent;
	box-shadow: inset 2px 2px 3px #666;
}

/*the left sliding navigation button on all My Collection lists*/
.btn-left {
	position: relative;
	float: left;
	left: 0.7%;
	width: 1%;
	padding-top: 4.2%;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	z-index: 92;
}

/*the right sliding navigation button on all My Collection lists*/
.btn-right {
	position: relative;
	float: right;
	right: 11%;
	width: 1%;
	padding-top: 4.2%;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	z-index: 92;
}

/*size of recommendations, favourites and my playlists on screen large*/
.recommendations .col-lg-2, .favourites .col-lg-2, .myplaylists .col-lg-2 {
	width: 14.5%;
	height: auto;
}

/*size of recommendations, favourites and my playlists on screen medium*/
.recommendations .col-md-2, .favourites .col-md-2, .myplaylists .col-md-2 {
	width: 14.5%;
	/*height: auto;*/
}

.thumbnail {
	padding: 0;
	margin: 0;
	width: 250px;
	height: 170px;
}

/*image on thumbnail*/
.thumbnails img {
	position: relative;
	width: 250px;
	height: 170px;
	margin: 0;
	padding: 0;
	border: 0;
	box-shadow: 3px 3px 3px #555;
}

/*the My Playlists create thumbnail*/
.create .thumbnail {
	background-color: #131314;
}

/*tags on all thumbnails*/
.tags {
	position: absolute;
	top: 0;
	width: 90%;
	display: none;
	text-overflow: hidden;
	word-wrap: break-word;
	color: white;
	overflow: hidden;
	font-family: Raleway;
}

.thumbnail:hover .tags{
	display: block;
}

.thumbnail:hover .play{
	display: block;
}

/*play button on all thumbnails*/
.play {
	display: none;
	position: absolute;
	width: auto;
	height: auto;
	margin: 0 auto;
	top: 21%;
	left: 37%;
	text-align: center;
	font-size: 500%;
	filter: opacity(60%);
}

.play:hover, .plus:hover {
	filter: opacity(100%);
	filter: brightness(110%);
}

.play a, .plus a {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	width: auto;
	height: auto;
	margin: 0 auto;
	color: #d3d3d3;
}

/*plus button on My Playlists first thumbnail*/
.plus {
	display: block;
	position: absolute;
	width: auto;
	height: auto;
	margin: 0 auto;
	top: 21%;
	left: 40%;
	text-align: center;
	font-size: 500%;
	filter: opacity(60%);
}

/*playlist title and creator's name*/
.thumbnails .caption {
	padding: 0;
	margin-top: -2%;
	background-color: #F2E6FF;
	font-family: Raleway;
	/*text-shadow: 1px 2px 1px #888;*/
}

/*link to creator's profile*/
.thumbnails .caption a {
	color: #333;
	word-wrap: break-word;
}

.thumbnails .caption a:hover {
	color: #9131f7;
}

.thumbnails .caption a:focus {
	color: #9131f7;
}

.thumbnails .caption h4 {
	font-size: 15px;
}

/*Create Playlist caption*/
.create .caption {
	text-align: center;
	font-family: Raleway SemiBold;
}

.create .caption h4 {
	font-size: 16px;
}

/* Contains social media, player widget, languages */
.footer {
	/*margin-left: -3.7%;*/
	/*padding-bottom: -2%;*/
	position: absolute;
	width: 100%;
	height: 5%;
	display: inline;
	vertical-align: middle;
}

.footer .row {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.footer ul {
	padding: 0;
	margin: 0;
}

.footer .social, .language {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
}

/* facebook, twitter etc*/
.footer .social {
	padding-left: 0.8%;
}

.footer .social a {
	padding: 0;
	margin: 0;
}

.footer .social .thumbnail {
	width: 10%;
	height: auto;
	float: left;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	border: 0;
	background-color: #F2E6FF;
}

/* greek, english */
.footer .language {
	padding: 0;
	position: relative;
	vertical-align: middle;
	margin-left: 0;
	right: -11.5%;
}

.footer .language a {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.footer .language .thumbnail {
	width: 8%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	border: 0;
	background-color: #F2E6FF;
}

.footer .language .greek .thumbnail {
	float: right;
	margin-right: -0.1%;
	vertical-align: middle;
}

.footer .language .english .thumbnail {
	float: right;
	vertical-align: middle;
}

/* Player widget */
.footer .widget {
	vertical-align: middle;
	position: relative;
	left: 9%;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	padding: none;
	bottom: 0;
}

/* Contains song title, music notes icons */
.footer .widget .title .song-title {
	width: 70%;
	height: auto;
	position: relative;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	word-wrap: normal;
	white-space: pre-wrap;
	white-space: normal;
	word-break: break-all;
	text-shadow: 1px 1px 1px #888;
}

/* Currently playing song title */
.footer .widget .title .song-title h4 {
	margin: 0;
	padding: 0;
	vertical-align: top;
	color: #333;
	font-family: Raleway Italic;
	font-weight: bold;
}

/* Music note on the left and right */
.music-icon-left, .music-icon-right {
	display: inline;
	font-size: 110%;
	padding: 0;
	position: relative;
	vertical-align: top;
}

.footer .widget .player-icons {
	width: 100%;
	padding: 2%;
	font-size: 150%;
	display: inline-block;
	vertical-align: middle;
	color: #848484;
	border: none;
}

/* Icon tat links to user's / artist's profile */
.footer .widget .player-icons .glyphicon-user {
	padding-right: 10%;
	display: inline-block;
	vertical-align: middle;
}

.player-icons .glyphicon-user:hover {
	color: #333;
}

/* Player widget's like [heart] icon */
.footer .widget .player-icons .glyphicon-heart {
	padding-left: 10%;
	display: inline-block;
	vertical-align: middle;
	z-index: 90;
}


.footer .widget .player-icons .glyphicon-heart:hover {
	color: #84011d;
}

/* Player widget's play icon */
.footer .widget .player-icons .glyphicon-play-circle {
	font-size: 220%;
	padding: 0%;
	display: inline-block;
	vertical-align: middle;
}

.footer .widget .player-icons .glyphicon-play-circle:hover {
	color: #333;
}

/* Player widget's forward, backward one song icon */
.glyphicon-step-backward, .glyphicon-step-forward {
	display: inline-block;
	vertical-align: middle;
}

.glyphicon-step-backward:hover {
	color: #333;
}

.glyphicon-step-forward:hover {
	color: #333;
}